.idea/
DataBase/bin/
DataBase/obj/

DataTransferObjects/bin/
DataTransferObjects/obj/

MVC/bin/
MVC/obj/
MVC/Migrations

Repositories/bin/
Repositories/obj/

Services/bin/
Services/obj/

Utilities/bin/
Utilities/obj/
