<a asp-area="@AreaName.Guest"
   asp-controller="Home"
   asp-action="Index"
   type="button" class="btn btn-outline-primary rounded-pill">
    <i class="ri-home-4-fill"></i>
    <span>Trang chủ</span>
</a>