@model RoleRequest

<input asp-for="Id" hidden=""/>
<input asp-for="IsDeleted" hidden=""/>

<div class="position-relative mb-3">
    <label class="form-label" asp-for="Name"></label>
    <input type="text" class="form-control" asp-for="Name" required>
    <div class="invalid-tooltip">
        <i class="ri-error-warning-line"></i>
        <span>Vui lòng nhập "@Html.DisplayNameFor(x => x.Name)"</span>
    </div>
</div>

<div class="position-relative mb-3">
    <label class="form-label" asp-for="Description"></label>
    <input type="text" class="form-control" asp-for="Description" required>
    <div class="invalid-tooltip">
        <i class="ri-error-warning-line"></i>
        <span>Vui lòng nhập "@Html.DisplayNameFor(x => x.Description)"</span>
    </div>
</div>